<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.ticktock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/group"
        android:label="@string/app_name"
        android:roundIcon="@drawable/group"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting.SettingActivity"/>

        <service
            android:name=".timer.AlarmService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".timer.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:showOnLockScreen="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".timer.TimerActivity" />
        <activity android:name=".CardActivity"
            android:showOnLockScreen="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnBoardingActivity" />

        <receiver android:name=".timer.TimerExpiredReceiver" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".autocomplete.AutoCompleteActivity" />
        <activity android:name=".alarmsetting.AlarmSettingFirstActivity" />
        <activity android:name=".alarmsetting.AlarmSettingSecondActivity" />
        <activity android:name=".alarmsetting.AlarmSettingThirdActivity" />
        <activity android:name=".MainDetailActivity" />
        <activity android:name=".timer.PriorTimerActivity" />

        <service android:name=".autocomplete.GPSInfo" />
    </application>

</manifest>